@import './animations.css';
@import './vars.css';

#my-body {
    width: 100%;
    min-height: 100vh;
}
#separator-main {
    margin-bottom: 5vh;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

.b-b-l {
    border-bottom: 1px solid #aaa;
}
.b-b-d {
    border-bottom: 1px solid #333;
}
.border-light {
    border: 1px solid #aaa;
}
.border-dark {
    border: 1px solid #333;
}

.reflejo:hover {
    animation: reflejo 0.3s;
}

.manita {
    cursor: pointer;
}

.zoom:hover {
    animation: zoom 1s;
}