#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15vh;
    height: 20vh;
    margin-bottom: 15vh;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}