.contact_container {
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--my-minor);
        border-radius: 5px;
    }
    .h2_text {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .small {
        font-size: 0.8rem;
        text-align: start;
        font-weight: bolder;
        color: var(--my-middle);
    }
    .input_container {
        .input_label {
            margin-top: 5px;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 6px;
            margin-bottom: 0;
        }
        .input {
            width: 100%;
            border-radius: 11px;
            border: 1px solid #000000;
            padding: 8px 15px;
            font-size: 1rem;
            margin-top: 0;
            color: #000;
            &:focus {
                outline: none;
                box-shadow: 1px 13px 15px -12px var(--my-minor);
            }
        }
    }
    .button {
        padding: 8px 0px;
        border-radius: 11px;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        width: 80%;
    }
    .submit_class {
        border: 1px var(--my-minor-sec) solid;
        background-color: var(--my-minor);
        color: var(--my-major);
        &:hover {
            background-color: var(--my-minor-sec);
        }
    }
    .submit_class_isabled {
        border: 1px var(--my-minor) solid;
        background-color: #0000;
        color: var(--my-minor);
        cursor: not-allowed;
    }
}

.show_mode {
    position: fixed;
    top: 17%;
    right: 10%;
    svg {
        height: 40px;
        width: 40px;
    }
    z-index: 10;
    cursor: pointer;
}

.text_format {
    background-color: #ddd;
    color: #222;
    .add_table_container {
        display: flex;
        justify-content: start;
        padding: 5px 25px;
        .add_table {
            border: 1px #222 solid;
            padding: 3px 5px;
            border-radius: 15px;
            cursor: pointer;
        }
    }
}
.preview_container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 15px;
    .preview {
        width: 100%;
        .body {
            padding: 20px 50px;
            .title {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .content {
                margin-top: 15px;
            }
        }
    }
}